@import "../../../assets//scss//variable.scss";

.ms-color-picker {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
  &__handle {
    display: flex;
    gap: 0.75rem;

    &__label {
      display: flex;
      align-items: start;
      justify-content: end;
      width: 25%;
    }
  }

  &__result {
    display: flex;
    gap: 1rem;
    justify-content: end;

    > span {
      width: 25%;
    }

    &__hex {
      width: 40%;
      border: 1px solid rgba(#222222, 0.2);
      outline: none;
      padding: 0.25rem;
      border-radius: 0.25rem;
      letter-spacing: 0.1rem;
    }
  }
}

.w-color-alpha,
.w-color-editable-input {
  display: none !important;
}
