@import "./variable.scss";

html {
  font-size: $font-size-default;
}

body {
  user-select: none;
}

.react-flow {
  &__attribution {
    display: none;
  }
}

// custom antd
.ant-modal-title {
  text-align: center !important;
  font-weight: 700 !important;
  font-size: 1.25rem !important;
}

.ant-select-multiple {
  .ant-select-selector {
    max-width: 15rem !important;
    max-height: 6rem !important;
    overflow: auto !important;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
