// color
$white: #ffffff;
$color-main: #1677ff;
$text-color: #222222;
$text-color-disabled: rgba(0,0,0,.25);

$color-delete: #f5222d;
$color-edit: #52c41a;
$color-copy: #13c2c2;
$color-default: #978e8e;
$color-disabled: rgba(0,0,0,.04);

$color-boder-disabled: #d9d9d9;
// font size
$font-size-default: 16px;