@import "../assets/scss/variable.scss";

.ms-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3.125rem;
  padding: 0 1.25rem;
  background-color: #001529;
  color: #ffffff;

  &__search {
    display: flex;
    justify-content: flex-end;
    max-height: 70%;
    width: 40%;
    gap: 0.625rem;

    > button {
      min-height: 2rem;
    }

    > div {
      flex: 1;
    }
  }
}

.ms-layout {
  min-height: 100vh;

  &__user {
    min-height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.125rem;

    &__avatar {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      background-color: yellow;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__menu {
      width: 7rem;
      display: block;
      color: $white;
      font-size: 1rem;
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $white;
      padding: 0.5rem;
      cursor: pointer;
      border-radius: 0.5rem;
  
      &:hover {
        background-color: #022b4e;
      }
    }
  }

  &__content {
    padding: 1.25rem;
    .ant-spin-container {
      height: 85vh;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(#888888, 0.5);
        border-radius: 999px;
      }
    }
  }
}
