@import "../../../assets/scss/variable.scss";

.detail-task {
  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__content {
    &__status {
      padding: 0.2rem 0.5rem;
      border-radius: 5rem;
      font-size: 0.75rem;
      font-weight: 500;
    }
  }

  &__chat-box {
    border: 1px solid rgba($text-color, 0.5);
    border-radius: 0.5rem;
    min-height: 5rem;
    padding: 0.25rem;

    > .ms-scroll {
      overflow: auto;
      max-height: 20rem;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(#888888, 0.5);
        border-radius: 999px;
      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
      width: 100%;

      &__email {
        font-weight: 900;
        font-size: 0.85rem;
        color: rgb(67, 100, 117);
      }

      &__time {
        color: rgb(107, 107, 107);
      }
    }

    &__description {
      &__link {
        display: flex;
        flex-direction: column;
      }

      &__image {
        margin-top: 0.5rem;
        display: flex;
        gap: 1rem;

        > img {
          width: 100px;
          height: 100px;
        }
      }
    }

    .ant-spin-container {
      height: 100% !important;
    }

    .ant-list-item {
      padding: 1rem 0.5rem !important;
    }

    .ant-list-item-meta-description {
      white-space: pre-line;
    }
  }

  .chat-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__avatar {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      background-color: yellow;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__text {
      flex: 1;
      padding: 0.5rem 1rem;
      border: 1px solid rgba($text-color, 0.5);
      border-radius: 0.5rem;

      > input {
        outline: none;
        border: none;
        width: 100%;
        background-color: transparent;
      }

      &__image {
        margin-top: 0.5rem;
        position: relative;

        > img {
          width: 100px;
          height: 100px;
          border: 1px solid rgba($text-color, 0.5);
        }

        &__close {
          position: absolute;
          background-color: rgba($white, 0.5);
          color: $white;
          display: flex;
          width: 1rem;
          height: 1rem;
          justify-content: center;
          align-items: center;
          border: none;
          outline: none;
          border-radius: 5rem;
          right: 2px;
          top: 2px;
          cursor: pointer;
        }
      }

      &__file {
        margin-top: 0.25rem;
        position: relative;

        > div {
          padding: 0.5rem;
          background-color: rgba($text-color, 0.1);
          border-radius: 0.5rem;
        }

        &__close {
          position: absolute;
          background-color: rgba($white, 0.5);
          color: $text-color;
          display: flex;
          width: 1rem;
          height: 1rem;
          justify-content: center;
          align-items: center;
          border: none;
          outline: none;
          border-radius: 5rem;
          right: -2px;
          top: -2px;
          cursor: pointer;
        }
      }
    }

    &__send {
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: $white;
      cursor: pointer;
      background-color: #69b1ff;
    }
  }
}

.link-download {
  color: #1677ff;
  cursor: pointer;
  width: fit-content;

  &:hover {
    color: #69b1ff;
  }
}

.wrapper_image {
  display: flex;
  gap: 0.5rem;
}

.input-hide {
  display: none;
}

.ant-list-item-meta-description {
  font-weight: 500 !important;
  color: $text-color !important;
  font-size: 1rem !important;
}

.ant-list-item-meta-title {
  font-weight: 500 !important;
  color: rgba($text-color, 0.5) !important;
  font-size: 0.75rem !important;
  margin: 0 !important;
}
