.workflow-item {
  padding: 0.75rem;
  display: flex;
  width: 100%;

  &__label {
    font-weight: 700;
    flex: 3;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__actions {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    height: 2rem;
  }
}
