@import "../../../assets/scss/variable.scss";

.ms-dashboard {
  display: flex;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
  overflow: auto;
  height: 85vh;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(#888888, 0.5);
    border-radius: 999px;
  }
}

.ms-item-dashboard {
  flex: 0 0 30%;
  height: 18.75rem;
  background-color: blue;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px;
}